html, body {
    height: 100vh;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex: 1;
}

table, th, tr, td {
    border: 2px solid black;
    padding: 10px;
    width: 30em;
    background-color: beige;
}

th {
    background-color: rgb(162, 75, 3);
}

header, footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 75, 3);
    border: 2px solid black;
}

div.table{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

button{
    flex: 1;
}

aside {
    width: 25vw;
    height: 80vh;
    background-color: beige;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-image: url("library-interior-interior-design-books-wallpaper-preview.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto;
}

dialog{
    margin-right: 10px;
    padding: 0px;
}