html, body {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex: 1;
}

table, th, tr, td {
    border: 2px solid black;
    padding: 10px;
    width: 30em;
}

th {
    background-color: aqua;
}

header, footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cyan;
    border: 2px solid black;
}

div.table{
    display: flex;
    flex-direction: column;
    padding: 10%;
}

button{
    flex: 1;
}

aside {
    width: 25vw;
    height: 80vh;
    background-color: beige;
    margin-left: auto;
}